$color-dark: #040c12;
$color-light: #e9f0f6;
$color-orange: rgb(216, 173, 19);
$color-aqua: aqua;
$color-matt-dark: rgb(41, 43, 44);

* {
  font-family: 'Roboto';
  font-weight: 300;
  box-sizing: border-box;
}

.backdrop {
  position: fixed;
}

.modal-body {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
}

.dark-modal .modal-content {
  background-color: $color-matt-dark;
  color: $color-light;
}

.dark-modal .close {
  color: $color-aqua !important;
}

// user login/register button
.login-register {
  position: absolute;
  top: 240px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: 0.5px solid $color-aqua !important;
  border-radius: 3px !important;
  color: $color-aqua !important;
  font-size: 16px;
  background: none;
}

.login-register:hover {
  border: 0.5px solid $color-orange !important;
  color: $color-orange !important;
}

.login-register:active {
  transform: rotateY(2px);
}

.nav-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link.active {
  background-color: $color-matt-dark !important;
  border-radius: 0;
  border: 0.5px solid $color-dark !important;
  color: $color-aqua !important;
}

.nav-tabs a {
  border-radius: 0px;
  text-decoration: none;
  color: $color-dark;
}

.login {
  background-color: $color-aqua !important;
  width: 50%;
  text-align: center;
}

.register {
  background-color: $color-orange !important;
  width: 50%;
  text-align: center;
}

.login-icon, .register-icon {
  margin-right: 10px;
}

.content {
  padding: 20px !important;
}

.modal-title {
  text-align: center;
  margin-bottom: 30px;
}


// LOGIN CONTAINER
.email-container, .password-container {
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.password-container {
  margin-bottom: 20px;
}

.email-container label, .password-container label {
 color: $color-aqua;
 padding-bottom: 5px;
}

#loginEmail, #loginPassword  {
  width: 100%;  
  height: 40px;
  padding: 10px;
  margin-right: 10px;
  border: 0.5px solid grey !important;
  background-color: rgb(41, 43, 44) !important;
  border-radius: 0px;
  color: $color-light;
}

// remember me checkbox
.form-check-input {
  border: 0.5px solid $color-aqua !important;
  background: none !important;
  border-radius: 0px !important;
  padding: 10px !important;
}

// remember me
.form-check-label {
  color: $color-aqua;
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.forgot-password a {
  text-decoration: none !important;
  color: $color-orange !important;
  margin-top: 3px;
  margin-bottom: 10px;
}

.submit-login-btn {
  background-color: $color-aqua;
  padding: 10px 50px 10px 50px;
  justify-content: center;
  border: none;
  width: 91%;
  margin: 20px 20px 20px 20px;
}

.submit-login-btn:hover {
  background-color: rgb(14, 152, 152);
  color: $color-light;
}

.submit-login-btn:active {
  transform: translateY(2px);
}


// REGISTER CONTAINER
.name-container {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

.name-container label {
  color: $color-orange;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
 }

 .name-container input {
  width: 120px;
  border: 1px solid grey !important;
 }

 .email-container-reg, .password-container-reg {
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#repeatPassword {
  margin-bottom: 20px;
}

.email-container-reg label, .password-container-reg label {
 color: $color-orange;
 padding-bottom: 5px;
}

#firstName, #lastName, #regEmail, #regPassword, #repeatPassword {
  width: 100%;  
  height: 40px;
  padding: 10px;
  margin-right: 10px;
  border: 0.5px solid grey !important;
  background-color: rgb(41, 43, 44) !important;
  border-radius: 0px;
  color: $color-light !important;
}

// terms and condition checkbox
#registerCheck {
  border: 0.5px solid $color-orange !important;
  background: none !important;
  border-radius: 0px !important;
  padding: 10px !important;
}

// terms and condition
#registerLabel {
  color: $color-orange;
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.muted {
  font-size: smaller;
  color: $color-light;
  font-family: 'Roboto';
  font-weight: 200;
  margin-left: 10px;
}

.submit-register-btn {
  background-color: $color-orange;
  padding: 10px 50px 10px 50px;
  justify-content: center;
  border: none;
  width: 91%;
  margin: 20px 20px 20px 20px;
}

.submit-register-btn:hover {
  background-color: rgb(178, 140, 3);
  color: $color-light;
}

.submit-register-btn:active {
  transform: translateY(2px);
}

.close-btn {
  position: absolute;
  top: 5px;
  right: -30px;
  background: none;
  border: none;
  color: $color-aqua !important;
  font-size: 24px;
}

.close-btn:hover {
  color: $color-orange !important;
}

