<nav>
  <div class="nav-left">
    <ul>
      <li>
      <a routerLink="cme-card" routerLinkActive="active-link">
        <i class="fa-solid fa-sun"></i>
      </a>
      </li>
    
      <li>
        <a routerLink="#"> <i class="fas fa-house"></i></a>
      </li>
      <li>
        <a routerLink="users" class="nav-link" routerLinkActive="active-link">
          <i class="fa-solid fa-file-lines"></i>
        </a>
      </li>
      <li>
        <a routerLink="adduser" class="nav-link" routerLinkActive="active-link">
          <i class="fa-solid fa-pen"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="nav-right">
   
  </div>
</nav>

