<footer>
  <div class="footer-left">
    <h6>Sign up our newsletter!</h6>
    <button class="btn-newsletter">Sign Up here!</button>
  </div>
 
  <div class="footer-right">
    <ul class="footer-social-menu">
      <li>
      <a href="#"><i class="fa-brands fa-facebook social-icon"></i></a>
      </li>
      <li>
      <a href="#"><i class="fa-brands fa-instagram social-icon"></i></a>
      </li>
      <li>
      <a href="#"><i class="fa-brands fa-tiktok social-icon"></i></a>
      </li>
      <li>
      <a href="#"><i class="fa-brands fa-youtube social-icon"></i></a>
      </li>
    </ul>
  </div>
</footer>

