$color-dark: #040c12;
$color-light: #e9f0f6;
$color-orange: rgb(216, 173, 19);
$color-aqua: aqua;

* {
  font-family: 'Roboto';
  font-weight: 200; 
}


table {
  background-color: rgba(4, 20, 25, 0.2);
  color: white;
  width: 800px;
}

.note {
  width: 100px;
}

.line {
  color: aqua;
}
