<app-inputs (data)="searchCME($event)"></app-inputs>

<div id="all-data">
<table class="table">
  <thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">Time</th>
    <th scope="col">Latitude</th>
    <th scope="col">HalfAngle</th>
    <th scope="col">Speed</th>
    <th scope="col">Type</th>
    <th scope="col">Most Accurate</th>
    <th scope="col">Associated CME ID</th>
    <th scope="col">Catalog</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cme of cmeData">
      <th>{{ cme.id }}</th>
      <td>{{ cme.time21_5 }}</td>
      <td>{{ cme.latitude }}</td>
      <td>{{ cme.halfAngle }}</td>
      <td>{{ cme.speed }}</td>
      <td>{{ cme.type }}</td>
      <td>{{ cme.isMostAccurate }}</td>
      <td>{{ cme.associatedCMEID }}</td>
      <td>{{ cme.catalog}}</td>
    </tr>
  </tbody>
</table>
</div>
