<div class="sun-bg allComponent">
  <div class="dashboard">
   
    <div>
      <div class="submit-form">
        <h4>Add new scientist user</h4>
        <div *ngIf="!submitted">
          <div class="form-group">
            <label for="Email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              required
              [(ngModel)]="user.email"
              name="email"
            />
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input
              type="text"
              class="form-control"
              id="password"
              required
              [(ngModel)]="user.password"
              name="password"
            />
          </div>
          <div class="form-group">
            <label for="firstName">Firstname</label>
            <input
              class="form-control ng-valid ng-invalid"
              id="firstName"
              required
              [(ngModel)]="user.firstName"
              name="firstName"
            />
          </div>
          <div class="form-group">
            <label for="lastName">Lastname</label>
            <input
              class="form-control"
              id="lastName"
              required
              [(ngModel)]="user.lastName"
              name="lastName"
            />
          </div>

          <button (click)="saveUser()" class="addBtn">Submit</button>
        </div>
        <div *ngIf="submitted">
          <h4>User was submitted successfully!</h4>
          <button class="successBtn" (click)="newUser()">Ok, Add new</button>
        </div>
      </div>
    </div>
     
  </div>
</div>

