
* {
  font-family: 'Roboto';
  font-weight: 300;
  box-sizing: border-box;
  color: #e9f0f6;
}

h4 {
  text-align: center;
  padding: 30px;
}

.submit-form {
  width: 500px !important;
  background-color: #040c12;
  border: 0.5px solid rgb(216, 173, 19);
  margin: auto;
}

.form-group {
  width: 400px;
  margin: auto;
  padding: 20px;
}

.form-group label {
  color: rgb(216, 173, 19);
  padding-bottom: 5px;
 }

#email, #password, #firstName, #lastName  {
  width: 100%;  
  height: 40px;
  padding: 10px;
  margin-right: 10px;
  border: 0.5px solid grey !important;
  background-color: rgb(41, 43, 44) !important;
  border-radius: 0px;
  color: #e9f0f6;
}

.addBtn {
  background-color: rgb(216, 173, 19);
  padding: 10px 10px 10px 10px;
  justify-content: center;
  border: none;
  width: 91%;
  margin: 20px 20px 20px 20px;
  color: #040c12;
}

.successBtn {
  background-color: rgb(36, 123, 71);
  padding: 10px 10px 10px 10px;
  justify-content: center;
  border: none;
  width: 91%;
  margin: 20px 20px 20px 20px;
  color:#e9f0f6;
}

.muted {
  font-size: smaller;
  color: #e9f0f6;
  font-family: 'Roboto';
  font-weight: 200;
  margin-left: 10px;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}