<ng-template #content let-modal>
  <div class="modal-body">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1" class="login">
        <a ngbNavLink><i class="fa-solid fa-user-check login-icon"></i>LOGIN</a>
        <ng-template ngbNavContent>
          <div class="content">
            <h4 class="modal-title">Scientist LOGIN</h4>
            <div class="tab-pane fade show" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      
      <form>
        <div class="email-container">
          <label for="email">Email</label>
            <input type="email" id="loginEmail" class="form-control-user" required/>
        </div>

        <div class="password-container">
          <label for="email">Password</label>
            <input type="password" id="loginPassword" class="form-control-user" required/>
        </div>

        <div class="row mb-4">
          <div class="col-md-6 d-flex justify-content-center">
            <div class="form-check mb-3 mb-md-0">
              <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
              <label class="form-check-label" for="loginCheck">
                Remember me
              </label>
            </div>
          </div>

          <div class="col-md-6 d-flex justify-content-center forgot-password">
            <a href="#!">Forgot password?</a>
          </div>

          <button type="submit" class="submit-login-btn" >
            Sign in
          </button>
        </div>

      
        <div class="text-center">
          <p>Not a scientist? <a>Register</a></p>
        </div>
      </form>
    </div>
  </div>
</ng-template>
</li>
  <li [ngbNavItem]="2" class="register">
        <a ngbNavLink><i class="fa-solid fa-user-plus register-icon"></i>REGISTER</a>
        <ng-template ngbNavContent class="content">
          <div class="content">
            <h4 class="modal-title">Scientist REGISTER</h4>
            <div class="tab-pane fade show" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      
      <form>
        <div class="name-container">
          <label for="text">First Name</label>
            <input type="text" id="firstName" class="form-control-user-reg" required/>
 
          <label for="text">Last Name</label>
            <input type="text" id="lastName" class="form-control-user-reg" required/>
        </div>

        <div class="email-container-reg">
          <label for="email">Email</label>
            <input type="email" id="loginEmail" class="form-control-user-reg" required/>
        </div>

        <div class="password-container-reg">
          <label for="email">Password</label>
            <input type="password" id="loginPassword" class="form-control-user-reg" required/>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
          <div class="form-check mb-6 mb-md-0">
            <input class="form-check-input" type="checkbox" value="" id="registerCheck" checked />
            <label class="form-check-label" for="loginCheck" id="registerLabel">
              I have read and agree to the terms and conditions
            </label>
          </div>
        </div>
        <div class="text-center">
        <span class="muted">Note: register gives default scientist role</span>
        </div>

        <div class="row mb-8">
          <button type="submit" class="submit-register-btn" >
            Sign up
          </button>
        </div>

        <div class="text-center">
          <p>Already a scientist? <a>Login</a></p>
        </div>
      </form>
    </div>
  </div>
  </ng-template>
  </li>
</ul>
    
    <div [ngbNavOutlet]="nav" class="mt-2"></div>

  </div>
  <button type="button" class="close-btn" (click)="modal.dismiss('close')">
    <i class="fa-solid fa-close"></i>
  </button>
</ng-template>

<button (click)="openModalDialogCustomClass(content)" class="login-register">
  <i class="fa-solid fa-user"></i>
</button>
